/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
  background-color: #000;
}
.architecture-body {
  background-color: #fff;
}
/* set map, body, and html to 100% of the screen size */
body,
html {
  height: 100%;
}
.leaflet-container {
  height: 83%;
  width: 100%;
  margin: 0 auto;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 2;
}
#parent {
  height: 87%;
  width: 100%;
  z-index: 1;
}
.nav-style {
    padding-left: 69px;
}
.nav-bar {
    padding-left: 24px;
}
li {
    text-align: center;
}
.footer {
  background-color: #000 !important;
  height: 54px;
  bottom: 0;
  margin: 0 auto;
  display: table;
  padding-top: 8px;
  width: 100%;
  padding-left: 47%;
  bottom: 0;
  position: absolute;
}
.footer .container {
    text-align: -webkit-center;
}
.footer .container img {
    margin-top: 30px;
}
.form {
        width: 100%;
    padding: 12px;
    /* margin-top: 11px; */
    display: -webkit-box;
    height: 55px;
    /* margin: 0 auto; */
    /* margin-right: 10px; */
    /* background: red; */
    /* float: right !important; */
    margin-right: 100p%;
    background: rgba(171, 205, 239, 0.5);
    /* border-radius: 5px; */
}
.controls {
    background: blue;
    /* color: black; */
    height: 100%;
    width: 100%;
}

.my-plot-style {
        position: absolute;
    /* top: 40px; */
    z-index: 999;
    /* bottom: 80px; */
    /* left: 43px; */
        left: 222px;
    height: 300px;
    width: 100px;
}

input[type='text'] {
    font-size: 10pt;
}

select, button {
    font-size: 10pt !important
}

.architectureStyle{
    margin: 0 auto !important;
}

.dateTimeStyle {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
}

#errorFromTo {
    display: none;
}

h1 {
    color: #fff;
    margin: 0 auto;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.beta-tag {
    right: 0;
    position: absolute;
    top: 0;
}

.toggleButton-menu {
    margin-right: 29px;
}

.sidenav {
  height: 100%;
    width: 221px;
    position: fixed;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 45px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  background-color: #555;
  color: white;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

button {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px !important;
    color: #818181;
    display: block;
    background: none;
    border: none;
}


.container {
  display: table;
  width: 100%;
}

.left-half {
  position: absolute;
  left: 0px;
  width: 20%;
  height: 90%;
  background-color: #111;
  padding-top: 45px;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 80%;
  height: 90%;
}

article {
    display: grid !important;
    padding: 20px;
    font-size: 15pt;
}

article a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

article a:hover {
  background-color: #555;
  color: white;
}

#plotChart {
    margin-left: 100px;
}

.address-list {
    display: contents;
    
}
.address-list input {
  width:30px;
  font-size: 11pt;
  cursor: pointer

}