<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Basic Map</title>

    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
            integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
            crossorigin=""></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/our.css') }}">
</head>

<body>
<!-- The div where we will inject our map -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark nav-style">
    <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="logo" style="width:40px;">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/get/data">Data</a>
        </li>
    </ul>
</nav>
<div class="controls">
    <form class="form" action="/api/filter" method = "POST">
        <div class="form-group">
            <label for="formGroupExampleInput">Filter Parking Data</label>
            <input type="text" class="form-control" id="ticketType" placeholder="Ticket Type" name="ticket_type">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Address">
        </div>
        <button type="Filter" name='filter-option' class="btn btn-primary">Submit</button>
    </form>
</div>

<div id="map"></div>
<div id="plot"></div>


<footer class="footer">
    <div class="container">
        <a href="https://github.com/alobodanov/parking_data">
            <img src="{{ url_for('static', filename='img/GitHub-Mark-Light-64px.png') }}" alt="logo" style="width:40px;">
        </a>
    </div>
</footer>
</body>
</html>


<!-- API key -->
<!--<script type="text/javascript" src="config.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>