/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
  background-color: #000;
}
.architecture-body {
  background-color: #fff;
}
/* set map, body, and html to 100% of the screen size */
body,
html {
  height: 100%;
}
.leaflet-container {
  height: 83%;
  width: 100%;
  margin: 0 auto;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 2;
}
#parent {
  height: 87%;
  width: 100%;
  z-index: 1;
}
.nav-style {
    padding-left: 69px;
}
.nav-bar {
    padding-left: 24px;
}
.footer {
  background-color: #000 !important;
  height: 54px;
  bottom: 0;
  margin: 0 auto;
  display: table;
  padding-top: 8px;
}
.footer .container {
    text-align: -webkit-center;
}
.footer .container img {
    margin-top: 30px;
}
.form {
    width: 300px;
    padding: 12px;
    margin-top: 11px;
    height: 265px;
    margin-right: 10px;
    background: red;
    float: right !important;
    margin-right: 100p%;
    background: rgba(171, 205, 239, 0.5);
    border-radius: 5px;
}
.controls {
    z-index: 999;
    width: 100%;
    position: absolute;
    width: 319px;
    right: 0;
    margin-left: 100px;
}

.my-plot-style {
    position: absolute;
    /* top: 80px; */
    z-index: 999;
    bottom: 80px;
    /* left: 43px; */
    right: 10px;
    height: 300px;
}

input[type='text'] {
    font-size: 10pt;
}

select, button {
    font-size: 10pt !important
}

.architectureStyle{
    margin: 0 auto !important;
}

.dateTimeStyle {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
}

#errorFromTo {
    display: none;
}