/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
body,
html {
  height: 100%;
}
.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

#map {
    height: 100%,
    width: 100%
}
