/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
  background-color: #000;
}

/* set map, body, and html to 100% of the screen size */
body,
html {
  height: 100%;
}
.leaflet-container {
  height: 83%;
  width: 100%;
  margin: 0 auto;
}

#map {
  height: 100%,
  width: 100%
}
.nav-style {
    padding-left: 69px;
}

.footer {
  background-color: #000 !important;
  height: 100px;
  bottom: 0;
}
.footer .container {
    text-align: -webkit-center;
}
.footer .container img {
    margin-top: 30px;
}
.form {
    width: 300px;
    padding: 12px;
    margin-top: 11px;
    height: 300px;
    margin-right: 10px;
    background: red;
    float: right !important;
    margin-right: 100p%;
    background: rgba(171, 205, 239, 0.5);
    border-radius: 5px;
}
.controls {
    z-index: 999;
    width: 100%;
    position: absolute;
    width: 319px;
    right: 0;
    margin-left: 100px;
}

.my-plot-style {
    position: absolute;
    /* top: 80px; */
    z-index: 999;
    bottom: 26px;
    /* left: 43px; */
    right: 10px;
    height: 300px;
}